@model Product
@{
    ViewData["Title"] = Model.Name;
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center mb-3">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Images/@Model.Image" alt="@Model.Image"></div>
            <div class="col-md-6">
                <div class="small mb-1">@Model.Code</div>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">@Model.Price</span>
                    <span>@(Model.Price - (Model.Price * 0.1m))</span>
                </div>
                <h5>
                    Stokta Kalan Son @Model.Stock Ürün!
                </h5>
                <form asp-controller="Cart" asp-action="AddToCart" class="d-flex">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input class="form-control text-center me-3" id="inputQuantity" type="number" name="quantity" value="1" style="max-width: 5rem">
                    <button class="btn btn-primary flex-shrink-0" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Sepete Ekle
                    </button>
                </form>


            </div>
        </div>
        <h5>Ürün Açıklaması</h5>
        <p class="lead">@Model.Description</p>
    </div>
</section>



